body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Superindo */
.superinfo-bg {
    background: #178bed;
    color: white;
}
.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p, .superinfo a{
    margin: 0 10px 10px 10px;
}

.superinfo a {
    color: white;   
}
/* Fim superinfo*/

/*Menu*/
.menu-bg {
    background: #1a1a1a;   
}

.menu-logo a img {
    width: 200px;
    height: auto;

}
.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
}
.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover{
    color: #178bed;
}
/*Fim menu */

/*Introdução */
.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

.sobre {
    border-top: 2px solid #178bed;
    border-bottom: 2px solid #178bed;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}
/*Fim introdução */ 

/*Produtos*/

.Produtos {
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item {
    flex: 1;
    margin: 10px;
}

.linha {
    width: 100%;
    height: 5px;
    background-color: #a4a4a4;
}

.barco1 {
    border-top: 8px solid #178bed;
}

.barco2 {
    border-top: 8px solid #1a1a1a;
}

.barco3 {
    border-top: 8px solid #178bed;
}
/*Fim produtos */

/*Preço*/
.preco {
    background-color: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}

.preco-item {
    flex: 1 1 260px;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.preco-item h2 {
    font-size: 3em;
    color: #222;
    text-align: center;
    margin-top: 20px;
}

.preco-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;  
}

.preco-item li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #178bed;
    border-radius: 50%;
}

.preco-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}

@media (max-width: 800px) {
    .preco {
        padding-left: 10px;
        padding-right: 10px;
    }

    .preco .preco-item:nth-child(3) {
        order: -2;
    }
    .preco .preco-item:nth-child(2) {
        order: -1;
    }
}
/*Fim preço */

/*Qualidade */
.qualidade {
    display: flex;
    margin: 60px auto;
    max-width: 960px;
    flex-wrap: wrap;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2 {
    font-size: 2.25em;
    color: #222;
    margin-bottom: 20px;
}

.qualidade-item h2::before {
    content: '';
    display: inline-block;
    width: 8px;
    margin-right: 10px;
    height: 30px;
    background-color: blue;
}
/*nth-of-type(3n+1) esse pseudo seletor pega o before do primeiro item e depois seleciona o mesmo para o terceiro item apos o primeiro */
.qualidade-item:nth-of-type(3n+1) h2::before { 
    background-color: #178bed;
}

.qualidade-item:nth-of-type(3n+2) h2::before { 
    background-color: #1a1a1a;
}

.qualidade-item:nth-of-type(3n+3) h2::before { 
    background-color: #178bed;
}

.qualidade-item p {
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}
/*FIm qualidade */

/*Newsletter */
.newsletter {
    background-color: #1a1a1a;
    padding: 10px calc((100% - 960px) / 2); /*calculo feito para quando diminuir a página 
                                             o conteudo diminuir e continuar alinhado */
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 260px; /*Se o flex-basis for 0, vai dar problema no safari*/
    margin: 0 10px;
}

.newsletter-info h1 {
    font-size: 3em;
    color: #fff;
}

.newsletter-info p {
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #fff;
    margin-bottom: 10px;
}

.newsletter-form {
    flex: 2 1 50px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input {
    flex: 3 1 50px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    border: 4px solid #178bed;
    background: #fff;
    margin: 0px;
    border-radius: 0px;
    padding: 15px 10px;
}

.newsletter-form button {
    flex: 1 1 50px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #178bed;
    color: white;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
}

@media (max-width: 600px) {
    .newsletter-form button {
    font-size: 1.5em;
    }
}
/*Fim newsletter */

/*Footer */
.footer {
    display: flex;
    background-color: #178bed;
    height: 50px;
    align-items: center;
}

.footer p {
    flex: 1;
    font-size: 1.25em;
    color: #fff;
    text-align: center;
}
/*Fim footer*/