/*Torna o elemento um flex container automaticamente 
transformando todos os seus filhos em flex itens */
.flex{
  display: flex;
}

/*Esse space-aroud esta sendo utilizado para 
agrupar o bloco 1 e 2 p= principal */
.p-space-around{
  display: flex;
  justify-content: space-around;
}

.flex-wrap{
  display: flex; 
  flex-wrap: wrap;
}
/* O item-flex é para deixar os 
itens do bloco 1 sem o flex 1;*/
.item-flex{
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

/* item-sflex é para deixar os itens do 
do bloco 5 sem o flex 1;*/
.item-sflex{
  margin: 5px;
  padding: 0 10px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.item{
  flex: 1;
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
  padding: 0px 10px;
}

.container{
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  display: flex;
}

/* O column e container 2 é
para deixar as colunas do bloco 5 
uma em cada container*/
.column2 {
  min-height: 200px;
  flex-direction: column;
}

.container2{
  max-width: 420px;
  margin: 0 auto;
  border: 1px solid #ccc;
  display: flex;
}

/* container3 vai ser usado no bloco 7*/
.container3{
  max-width: 420px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 1.25em;
  font-weight: normal;
}

body {
  font-family: monospace;
  color: #333;
}

.row{
  flex-direction: row;
}

.row-reverse{
  flex-direction: row-reverse;
}

.column{
  flex-direction: column;
}

.column-reverse{
  flex-direction: column-reverse;
}

.nowrap{
  flex-wrap: nowrap;
}

.wrap-reverse{
  flex-wrap: wrap-reverse;
}

.row-nowrap{
  flex-flow: row nowrap;
}

.row-wrap{
  flex-flow: row wrap;
}

.column-nowrap{
  flex-flow: column nowrap;
}

.flex-start{
  justify-content: flex-start;
}

.flex-end{
  justify-content: flex-end;
}

.center{
  justify-content: center;
}

.space-between{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.stretch{
  align-items: stretch;
}

.flex_start{
  align-items: flex-start;
}

.flex_end{
  align-items: flex-end;
}

.center2{
  align-items: center;
}

.baseline{
  align-items: baseline;
}

.item2{
  padding-top: 20px;
}

.centro-exato{
  justify-content: center;
  align-items: center;
  height: 400px;
}

.ac-stretch{
  align-content: stretch;
}

.ac-flex-start{
  align-content: flex-start;
}

.ac-flex-end{
  align-content: flex-end;
}

.ac-center{
  align-content: center;
}

.ac-space-between{
  align-content: space-between;
}

.ac-space-around{
  align-content: space-around;
}